Makefile
Makeconf
config.log
config.status
examples/*/gaplot
examples/*/fit
examples/*/*.dat
reflconfig.h
.settings
.coverage
.mplconfig
.project
.pydevproject
~*
*.pyd
*.pyc
*.swp
*.so
*.o
*.a
*.bak
build/
dist/
